# DATA UNDERSTANDING

In [90]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
df = pd.read_csv('kidney_disease.csv')

In [92]:
df.shape

(400, 26)

In [93]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [94]:
df.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [96]:
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [97]:
df.nunique()

id                400
age                76
bp                 10
sg                  5
al                  6
su                  6
rbc                 2
pc                  2
pcc                 2
ba                  2
bgr               146
bu                118
sc                 84
sod                34
pot                40
hemo              115
pcv                44
wc                 92
rc                 49
htn                 2
dm                  5
cad                 3
appet               2
pe                  2
ane                 2
classification      3
dtype: int64

In [98]:
df.duplicated().sum()

0

In [99]:
df.corr(method='pearson')

C:\Users\sibap\AppData\Local\Temp\ipykernel_19260\1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
id,1.000000,-0.185308,-0.245744,0.642156,-0.541993,-0.283416,-0.338673,-0.307175,-0.268683,0.364251,-0.092347,0.640298
age,-0.185308,1.000000,0.159480,-0.191096,0.122091,0.220866,0.244992,0.196985,0.132531,-0.100046,0.058377,-0.192928
bp,-0.245744,0.159480,1.000000,-0.218836,0.160689,0.222576,0.160193,0.188517,0.146222,-0.116422,0.075151,-0.306540
sg,0.642156,-0.191096,-0.218836,1.000000,-0.469760,-0.296234,-0.374710,-0.314295,-0.361473,0.412190,-0.072787,0.602582
al,-0.541993,0.122091,0.160689,-0.469760,1.000000,0.269305,0.379464,0.453528,0.399198,-0.459896,0.129038,-0.634632
su,-0.283416,0.220866,0.222576,-0.296234,0.269305,1.000000,0.717827,0.168583,0.223244,-0.131776,0.219450,-0.224775
bgr,-0.338673,0.244992,0.160193,-0.374710,0.379464,0.717827,1.000000,0.143322,0.114875,-0.267848,0.066966,-0.306189
bu,-0.307175,0.196985,0.188517,-0.314295,0.453528,0.168583,0.143322,1.000000,0.586368,-0.323054,0.357049,-0.610360
sc,-0.268683,0.132531,0.146222,-0.361473,0.399198,0.223244,0.114875,0.586368,1.000000,-0.690158,0.326107,-0.401670
sod,0.364251,-0.100046,-0.116422,0.412190,-0.459896,-0.131776,-0.267848,-0.323054,-0.690158,1.000000,0.097887,0.365183
pot,-0.092347,0.058377,0.075151,-0.072787,0.129038,0.219450,0.066966,0.357049,0.326107,0.097887,1.000000,-0.133746
hemo,0.640298,-0.192928,-0.306540,0.602582,-0.634632,-0.224775,-0.306189,-0.610360,-0.401670,0.365183,-0.133746,1.000000

# NOTE:-
1. RBC TO BA : OBJECT --> FIRSTLY CLEANING THEN TO BE CONVERTED INTO INT.
2. PCV TO CLASSIFICATION --> CONVERSION TO INT REQUIRED.
3. DATAFRAME CONTAINS TOO MANY NULL VALUES....CLEANING HAS TO BE DONE.

# DATA PREPARATION

In [100]:
df2 = df.copy()

In [101]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [133]:
#STEP 1

from sklearn.impute import SimpleImputer


df = df[(df['pcv'] !='\t?') & (df['pcv'] != '\t43')]
print(df['pcv'].unique())
df = df[(df['wc'] !='\t6200') & (df['wc'] != '\t?') & (df['wc'] != '\t8400')]
print(df['wc'].unique())
df = df[(df['rc'] !='\t?') & (df['rc'] != 'nan')]
print(df['rc'].unique())

df['pcv'] = SimpleImputer(strategy = 'most_frequent').fit_transform(df[['pcv']])
df['pcv'] = df['pcv'].astype(int)

df['wc'] = SimpleImputer(strategy = 'most_frequent').fit_transform(df[['wc']])
df['wc'] = df['wc'].astype(int)

df['rc'] = SimpleImputer(strategy = 'most_frequent').fit_transform(df[['rc']])
df['rc'] = df['rc'].astype(float)

[44 38 31 32 35 39 36 33 29 28 41 16 24 37 30 34 40 45 27 48 52 14 22 18
 42 17 46 23 19 25 26 15 21 43 20 47  9 49 50 53 51 54]
[ 7800  6000  7500  6700  7300  9800  6900  9600 12100  4500 12200 11000
  3800 11400  5300  9200  6200  8300  8400 10300  9100  7900  6400  8600
 18900 21600  4300  8500 11300  7200  7700 14600  6300  7100 11800  9400
  5500  5800 13200 12500  5600  7000 11900 10400 10700 12700  6800  6500
 13600 10200  9000 14900  8200 15200  5000 16300 12400 10500  4200  4700
 10900  8100  9500  2200 12800 11200 19100 12300 16700  2600 26400  8800
  7400  8000 12000 15700  4100  5700 11500  5400 10800  9900  5200  5900
  9300  9700  5100  6600]
['5.2' '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '3.3' '3.0' '3' '2.4' '4.8' '5.4'
 '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9' '6.5']

In [134]:
# STEP 2 : data cleaning & encoding
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

num = ['age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo']
obj = ['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane']

imputer1 = SimpleImputer(strategy = 'most_frequent')
imputer2 = SimpleImputer(strategy = 'mean')
encoder = OneHotEncoder()

num_pipeline = Pipeline(
    steps = [
        ('imputer2',imputer2)      
    ]
)

obj_pipeline = Pipeline(
    steps = [
        ('imputer1',imputer1),
        ('encoder',encoder)
    ]
)

transformer = ColumnTransformer(
    transformers = [
        ('num_pipeline',num_pipeline,num),
        ('cat_pipeline',obj_pipeline,obj)
    ]
)

In [135]:
x = df.drop(columns = ['id','classification'])
y = df.classification

In [136]:
x= transformer.fit_transform(x)

In [137]:
x.dtype

dtype('float64')

In [187]:
from sklearn.model_selection import train_test_split 

X_train,X_test,y_train,y_test = train_test_split(x,y,random_state=39)

# DATA MODELLING

In [188]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [189]:
models = [LogisticRegression(max_iter=6000),SVC(),DecisionTreeClassifier(),RandomForestClassifier()]

for model in models:
    if(model==LogisticRegression(max_iter=6000)):
        scaler = StandardScaler()
        X_train =  scaler.fit_transform(X_train)
        model.fit(X_train,y_train)
        print(f"Accuracy Score Of {model} is: {model.score(X_test,y_test)}")
        print('**************************************************************')
    else:
        model.fit(X_train,y_train)
        print(f"Accuracy Score Of {model} is: {model.score(X_test,y_test)}")
        print('**************************************************************')

Accuracy Score Of LogisticRegression(max_iter=6000) is: 0.9696969696969697
**************************************************************
Accuracy Score Of SVC() is: 0.8383838383838383
**************************************************************
Accuracy Score Of DecisionTreeClassifier() is: 0.9696969696969697
**************************************************************
Accuracy Score Of RandomForestClassifier() is: 1.0
**************************************************************

In [190]:
model = RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [191]:
model.score(X_test,y_test)*100

100.0

# SAVING MODEL

In [193]:
import pickle

with open('Chronic_kidney_disease','wb') as f:
    pickle.dump(model,f)
    f.close()